h1= title
p Welcome to #{title}
p Address is #{address}
p Port is #{port}

script(src='./socket.io/socket.io.js')
script
  var config = {};
  config.address = '#{address}';
  config.port = '#{port}';
script(src='./javascripts/app.js')

form(method='post', data-remote='true')
  label Name
  input(type='text', id='kudo-from', value='Anonymous')
  label Kudos to
  input(type='text', id='kudo-to', value='Anonymous')
  label for
  input(type='text', id='kudo-message', value='kudos')
  input(type='submit', value='Share')#kudoshare-button

div#feed
  div.kudo
    p Bryan: Kudos to David for washing the dishes
  div.kudo
    p David: Kudos to Thien for driving

script
  $('#kudoshare-button').click(function() {
    var socket = io.connect(); 
    
    socket.emit('post', { from: $('#kudo-from').attr('value'), to: $('#kudo-to').attr('value'), message: $('#kudo-message').attr('value') }, { host: config.address }, {port: config.port});
    return false;
  });